@media only screen and (orientation: Landscape) {
  body {
    background-image: url("https://images.wallpaperscraft.com/image/single/heart_glow_blur_54423_2560x1440.jpg");
  }
}
@media only screen and (orientation: Portrait) {
  body {
    background-image: url("  https://images.unsplash.com/photo-1640625202932-33680b01a9c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  }
}
#h1 {
  font-family: "Caveat", cursive;
  text-align: center;
}
body {
  background-attachment: fixed;
  font-family: "Dancing Script", cursive;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#a1 {
  border-style: hidden;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom right,
    rgba(240, 56, 132, 0.8),
    rgba(247, 239, 243, 0.8)
  );
  position: relative;
}
#yourname,
#gender1,
#partnername,
#gender2,
#calc {
  border-style: solid;
  text-align: center;
  border-width: 1px;
  border-color: rgb(15, 15, 15);
  border-radius: 20px;
  background-color: inherit;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
option {
  background-color: pink !important;
}
::-webkit-input-placeholder {
  color: black;
}
ul {
  list-style: none;
  display: flex;
}

.social-icon {
  max-width: 70px;
  max-width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(15, 15, 15);
  font-size: 27px;
  margin-right: 11px;
  cursor: pointer;
}

.social-icon i {
  transition: 0.9s all;
}

.social-icon:hover i {
  transform: scale(1.4);
}
